<h1>FAQ Manager</h1>
<% for faq in @faqs %>
  <strong><%=faq.question %></strong><br/>
  <%= (faq.answer) %><br/>
  Category: <%=faq.category.name %>
  (<%=  link_to 'Show', faq %> |
  <%= link_to 'Edit', edit_faq_path(faq) %> |
  <%= link_to 'Destroy', faq, method: :delete, data: { confirm: 'Are you sure?' } %>)
  <hr/> 
<% end %>
<%= will_paginate @faqs %>
<br />
<%= link_to 'New Faq', new_faq_path %> |
<%= link_to 'Manage Categories', categories_path %>




